@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
* * {
  padding: 0;
  margin: 0;
  border: 0;
}
* *,
* *:before,
* *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
* :focus,
* :active {
  outline: none;
}
* a:focus,
* a:active {
  outline: none;
}
* nav,
* footer,
* header,
* aside {
  display: block;
}
* html,
* body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
* input,
* button,
* textarea {
  font-family: inherit;
}
* input::-ms-clear {
  display: none;
}
* button {
  cursor: pointer;
}
* button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
* a,
* a:visited {
  text-decoration: none;
}
* a:hover {
  text-decoration: none;
}
* ul li {
  list-style: none;
}
* img {
  vertical-align: top;
}
* h1,
* h2,
* h3,
* h4,
* h5,
* h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*------------------------------------------------------------------------------------------------------------------*/
body {
  background-color: #171717;
  color: #fff;
  font-family: "Roboto";
}
body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  font-size: 21px;
  font-weight: 500;
  margin: 0 0 50px 0;
  position: relative;
  letter-spacing: 1px;
}
.title p::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 89px;
  left: 0;
  bottom: -10px;
  background-color: #fff;
}
@media (max-width: 992px) {
  .title {
    font-size: 18px;
    margin: 0 0 40px 0;
  }
  .title p::after {
    width: 77px;
  }
}
@media (max-width: 767px) {
  .title {
    font-size: 16px;
    margin: 0 0 35px 0;
  }
  .title p::after {
    width: 69px;
  }
}
@media (max-width: 480px) {
  .title {
    font-size: 14px;
    margin: 0 0 30px 0;
  }
  .title p::after {
    width: 61px;
  }
}

/*------------------------------------------------------------------------------------------------------------------*/
.header__lockscreen {
  min-height: 100vh;
}
.header__container {
  position: relative;
}
.header__top {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 992px) {
  .header__top {
    height: 90px;
  }
}
@media (max-width: 767px) {
  .header__top {
    height: 80px;
  }
}
@media (max-width: 480px) {
  .header__top {
    height: 70px;
  }
}
.header__top-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__top-logo-icon {
  width: 34px;
  height: 34px;
  margin: 0 7px 0 0;
  -webkit-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.header__top-logo-icon._active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.1s;
  transition: all 0.8s ease 0.1s;
}
@media (max-width: 992px) {
  .header__top-logo-icon {
    width: 32px;
    height: 32px;
  }
}
@media (max-width: 767px) {
  .header__top-logo-icon {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 480px) {
  .header__top-logo-icon {
    width: 28px;
    height: 28px;
  }
}
.header__top-logo-name {
  font-size: 35px;
  font-weight: 500;
  -webkit-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.header__top-logo-name._active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.1s;
  transition: all 0.8s ease 0.1s;
}
@media (max-width: 992px) {
  .header__top-logo-name {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .header__top-logo-name {
    font-size: 30px;
  }
}
@media (max-width: 480px) {
  .header__top-logo-name {
    font-size: 28px;
  }
}
.header__top-menu {
  margin: 6px 0 0 0;
}
@media (max-width: 767px) {
  .header__top-menu {
    position: fixed;
    z-index: 10;
    top: 0;
    left: -150%;
    width: 100%;
    height: 100%;
    background-color: #313131;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
    margin: 0;
  }
  .header__top-menu._x {
    left: 0;
  }
}
.header__top-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .header__top-menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 100px 0;
  }
}
.header__top-menu-item {
  -webkit-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.header__top-menu-item._active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.1s;
  transition: all 0.8s ease 0.1s;
}
.header__top-menu-item:not(:last-child) {
  margin: 0 20px 0 0;
}
@media (max-width: 992px) {
  .header__top-menu-item:not(:last-child) {
    margin: 0 15px 0 0;
  }
}
@media (max-width: 767px) {
  .header__top-menu-item {
    text-align: center;
  }
  .header__top-menu-item:not(:last-child) {
    margin: 0 0 40px 0;
  }
}
.header__top-menu-link {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__top-menu-link:hover {
  color: #626262;
}
@media (max-width: 992px) {
  .header__top-menu-link {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .header__top-menu-link {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .header__top-menu-link {
    font-size: 17px;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 767px) {
  .header__burger {
    display: block;
    position: relative;
    z-index: 10;
    width: 30px;
    height: 18px;
    cursor: pointer;
    margin: 3px 0 0 0;
    -webkit-transform: translate(0px, 120%);
            transform: translate(0px, 120%);
    opacity: 0;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
  }
  .header__burger._active {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
    -webkit-transition: all 0.8s ease 0.1s;
    transition: all 0.8s ease 0.1s;
  }
  .header__burger span, .header__burger::before, .header__burger::after {
    position: absolute;
    height: 10%;
    width: 100%;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .header__burger::before, .header__burger::after {
    content: "";
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .header__burger._x span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .header__burger._x::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__burger._x::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
}
.header__bottom {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 120px 0 0 0;
}
@media (max-width: 992px) {
  .header__bottom {
    padding: 110px 0 0 0;
  }
}
@media (max-width: 767px) {
  .header__bottom {
    padding: 100px 0 0 0;
  }
}
@media (max-width: 480px) {
  .header__bottom {
    padding: 80px 0 0 0;
  }
}
@media (max-height: 670px) {
  .header__bottom {
    padding: 50px 0 0 0;
  }
}
@media (max-height: 570px) {
  .header__bottom {
    padding: 20px 0 0 0;
  }
}
.header__bottom-image {
  height: 210px;
  width: 210px;
  -webkit-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.header__bottom-image img {
  border-radius: 50%;
}
.header__bottom-image._active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}
@media (max-width: 992px) {
  .header__bottom-image {
    height: 190px;
    width: 190px;
  }
}
@media (max-width: 767px) {
  .header__bottom-image {
    height: 160px;
    width: 160px;
  }
}
@media (max-width: 480px) {
  .header__bottom-image {
    height: 150px;
    width: 150px;
  }
}
.header__bottom-title {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1.5px;
  padding: 30px 0;
  -webkit-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.header__bottom-title._active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.3s;
  transition: all 0.8s ease 0.3s;
}
.header__bottom-title p {
  margin: 10px 0 0 0;
}
@media (max-width: 992px) {
  .header__bottom-title {
    font-size: 27px;
  }
}
@media (max-width: 767px) {
  .header__bottom-title {
    font-size: 25px;
  }
}
@media (max-width: 480px) {
  .header__bottom-title {
    font-size: 20px;
  }
}
.header__bottom-scroll {
  position: absolute;
  left: 50%;
  bottom: 0;
  padding: 0 0 40px 0;
  -webkit-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.header__bottom-scroll._active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
}
@media (max-height: 500px) {
  .header__bottom-scroll {
    display: none;
  }
}
.header__bottom-scroll::before, .header__bottom-scroll::after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-bottom: 4px solid white;
  border-right: 4px solid white;
}
.header__bottom-scroll::before {
  -webkit-animation: down-arrow-before 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
          animation: down-arrow-before 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
.header__bottom-scroll::after {
  -webkit-animation: down-arrow-after 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
          animation: down-arrow-after 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
@-webkit-keyframes down-arrow-before {
  50% {
    -webkit-transform: rotate(45deg) translate(70%, 70%);
            transform: rotate(45deg) translate(70%, 70%);
  }
  100% {
    -webkit-transform: rotate(45deg) translate(70%, 70%);
            transform: rotate(45deg) translate(70%, 70%);
  }
}
@keyframes down-arrow-before {
  50% {
    -webkit-transform: rotate(45deg) translate(70%, 70%);
            transform: rotate(45deg) translate(70%, 70%);
  }
  100% {
    -webkit-transform: rotate(45deg) translate(70%, 70%);
            transform: rotate(45deg) translate(70%, 70%);
  }
}
@-webkit-keyframes down-arrow-after {
  50% {
    -webkit-transform: rotate(45deg) translate(110%, 110%);
            transform: rotate(45deg) translate(110%, 110%);
    opacity: 0;
  }
  51% {
    -webkit-transform: rotate(45deg) translate(-130%, -130%);
            transform: rotate(45deg) translate(-130%, -130%);
  }
  100% {
    -webkit-transform: rotate(45deg) translate(-70%, -70%);
            transform: rotate(45deg) translate(-70%, -70%);
    opacity: 1;
  }
}
@keyframes down-arrow-after {
  50% {
    -webkit-transform: rotate(45deg) translate(110%, 110%);
            transform: rotate(45deg) translate(110%, 110%);
    opacity: 0;
  }
  51% {
    -webkit-transform: rotate(45deg) translate(-130%, -130%);
            transform: rotate(45deg) translate(-130%, -130%);
  }
  100% {
    -webkit-transform: rotate(45deg) translate(-70%, -70%);
            transform: rotate(45deg) translate(-70%, -70%);
    opacity: 1;
  }
}

/*------------------------------------------------------------------------------------------------------------------*/
.about {
  padding: 80px 0;
}
@media (max-width: 992px) {
  .about {
    padding: 60px 0;
  }
}
@media (max-width: 767px) {
  .about {
    padding: 40px 0;
  }
}
.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.about__textblock {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 76%;
          flex: 0 1 76%;
  margin: 0 100px 0 0;
}
@media (max-width: 992px) {
  .about__textblock {
    margin: 0 50px 0 0;
  }
}
@media (max-width: 767px) {
  .about__textblock {
    margin: 0;
  }
}
.about__textblock-subtitle {
  font-size: 35px;
  font-weight: 500;
  margin: 0 0 20px 0;
}
@media (max-width: 992px) {
  .about__textblock-subtitle {
    font-size: 32px;
    margin: 0 0 18px 0;
  }
}
@media (max-width: 767px) {
  .about__textblock-subtitle {
    font-size: 30px;
    margin: 0 0 16px 0;
  }
}
@media (max-width: 480px) {
  .about__textblock-subtitle {
    font-size: 28px;
    margin: 0 0 14px 0;
  }
}
.about__textblock-text {
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.5px;
  margin: 0 0 25px 0;
}
@media (max-width: 992px) {
  .about__textblock-text {
    font-size: 16px;
    margin: 0 0 23px 0;
  }
}
@media (max-width: 767px) {
  .about__textblock-text {
    font-size: 15px;
    margin: 0 0 20px 0;
  }
}
@media (max-width: 480px) {
  .about__textblock-text {
    font-size: 14px;
    margin: 0 0 18px 0;
  }
}
.about__textblock-button p {
  display: inline-block;
  color: #000;
  font-size: 17px;
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-transform: uppercase;
}
.about__textblock-button p:hover {
  background-color: #626262;
  color: #fff;
}
@media (max-width: 767px) {
  .about__textblock-button p {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .about__textblock-button p {
    font-size: 15px;
    padding: 10px;
  }
}
.about__mediablock {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 24%;
          flex: 0 1 24%;
}
@media (max-width: 767px) {
  .about__mediablock {
    display: none;
  }
}

._about-anim {
  -webkit-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
._about-anim._active, ._active ._about-anim {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

/*------------------------------------------------------------------------------------------------------------------*/
.skills {
  padding: 0 0 40px 0;
}
@media (max-width: 992px) {
  .skills {
    padding: 0 0 30px 0;
  }
}
@media (max-width: 767px) {
  .skills {
    padding: 0 0 20px 0;
  }
}
@media (max-width: 480px) {
  .skills {
    padding: 0 0 10px 0;
  }
}
.skills__title p::after {
  width: 84px;
}
@media (max-width: 992px) {
  .skills__title p::after {
    width: 73px;
  }
}
@media (max-width: 767px) {
  .skills__title p::after {
    width: 65px;
  }
}
@media (max-width: 480px) {
  .skills__title p::after {
    width: 58px;
  }
}
.skills__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
}
@media (max-width: 767px) {
  .skills__icons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.skills__icons svg {
  width: 120px;
  height: 120px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 0 0 20px 0;
}
.skills__icons svg:hover {
  scale: 1.15;
}
@media (max-width: 1100px) {
  .skills__icons svg {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 992px) {
  .skills__icons svg {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 480px) {
  .skills__icons svg {
    width: 60px;
    height: 60px;
  }
}
.skills__icons-html:hover {
  fill: #f06529;
}
.skills__icons-css:hover {
  fill: #264de4;
}
.skills__icons-sass:hover {
  fill: #cd6799;
}
.skills__icons-js:hover {
  fill: #f0db4f;
}
.skills__icons-jquery:hover {
  fill: #0868ac;
}
.skills__icons-gulp:hover {
  fill: #db4446;
}
.skills__icons-prepros:hover {
  fill: #1ab8db;
}
.skills__icons-figma:hover {
  fill: #fff;
}

._skills-anim {
  -webkit-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
._skills-anim._active, ._active ._skills-anim {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

/*------------------------------------------------------------------------------------------------------------------*/
.education {
  padding: 0 0 60px 0;
}
@media (max-width: 992px) {
  .education {
    padding: 0 0 50px 0;
  }
}
@media (max-width: 767px) {
  .education {
    padding: 0 0 40px 0;
  }
}
@media (max-width: 480px) {
  .education {
    padding: 0 0 30px 0;
  }
}
.education__title p::after {
  width: 141px;
}
@media (max-width: 992px) {
  .education__title p::after {
    width: 123px;
  }
}
@media (max-width: 767px) {
  .education__title p::after {
    width: 111px;
  }
}
@media (max-width: 480px) {
  .education__title p::after {
    width: 98px;
  }
}
.education__columns {
  border-left: #626262 solid 3px;
  padding: 0 0 0 15px;
}
.education__columns-column:not(:last-child) {
  margin: 0 0 50px 0;
}
@media (max-width: 992px) {
  .education__columns-column:not(:last-child) {
    margin: 0 0 40px 0;
  }
}
@media (max-width: 767px) {
  .education__columns-column:not(:last-child) {
    margin: 0 0 35px 0;
  }
}
@media (max-width: 480px) {
  .education__columns-column:not(:last-child) {
    margin: 0 0 30px 0;
  }
}
.education__columns-column-title {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0 0 15px 0;
  line-height: 120%;
  position: relative;
}
.education__columns-column-title::before {
  position: absolute;
  content: "";
  border: 2px solid #171717;
  border-radius: 50%;
  background-color: #fff;
  width: 13px;
  height: 13px;
  top: 8px;
  left: -23px;
}
@media (max-width: 992px) {
  .education__columns-column-title::before {
    top: 6px;
  }
}
@media (max-width: 767px) {
  .education__columns-column-title::before {
    top: 5px;
  }
}
@media (max-width: 480px) {
  .education__columns-column-title::before {
    top: 3px;
  }
}
@media (max-width: 992px) {
  .education__columns-column-title {
    font-size: 22px;
    margin: 0 0 12px 0;
  }
}
@media (max-width: 767px) {
  .education__columns-column-title {
    font-size: 20px;
    margin: 0 0 10px 0;
  }
}
@media (max-width: 480px) {
  .education__columns-column-title {
    font-size: 18px;
  }
}
.education__columns-column-subtitle {
  font-size: 18px;
  margin: 0 0 20px 0;
}
@media (max-width: 992px) {
  .education__columns-column-subtitle {
    font-size: 17px;
    margin: 0 0 17px 0;
  }
}
@media (max-width: 767px) {
  .education__columns-column-subtitle {
    font-size: 16px;
    margin: 0 0 15px 0;
  }
}
@media (max-width: 480px) {
  .education__columns-column-subtitle {
    font-size: 15px;
  }
}
.education__columns-column-text {
  font-size: 16px;
  line-height: 140%;
}
.education__columns-column-text ul {
  margin: 0 0 5px 0;
}
.education__columns-column-text li {
  margin: 0 0 2px 0;
}
@media (max-width: 992px) {
  .education__columns-column-text {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .education__columns-column-text {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .education__columns-column-text {
    font-size: 13px;
  }
}

._education-anim {
  -webkit-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
._education-anim._active, ._active ._education-anim {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

/*------------------------------------------------------------------------------------------------------------------*/
.works {
  padding: 0 0 60px 0;
}
@media (max-width: 992px) {
  .works {
    padding: 0 0 50px 0;
  }
}
@media (max-width: 767px) {
  .works {
    padding: 0 0 40px 0;
  }
}
@media (max-width: 480px) {
  .works {
    padding: 0 0 30px 0;
  }
}
.works__title p::after {
  width: 119px;
}
@media (max-width: 992px) {
  .works__title p::after {
    width: 103px;
  }
}
@media (max-width: 767px) {
  .works__title p::after {
    width: 93px;
  }
}
@media (max-width: 480px) {
  .works__title p::after {
    width: 82px;
  }
}
.works__slider {
  text-align: center;
}
.works__slider img {
  max-width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.works__slider img:hover {
  scale: 1.15;
}
@media (max-width: 400px) {
  .works__slider img {
    height: 200px;
  }
}
._works-anim {
  -webkit-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
._works-anim._active, ._active ._works-anim {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

/*------------------------------------------------------------------------------------------------------------------*/
.contacts {
  padding: 0 0 40px 0;
}
@media (max-width: 992px) {
  .contacts {
    padding: 0 0 30px 0;
  }
}
.contacts__title p::after {
  width: 104px;
}
@media (max-width: 992px) {
  .contacts__title p::after {
    width: 91px;
  }
}
@media (max-width: 767px) {
  .contacts__title p::after {
    width: 82px;
  }
}
@media (max-width: 480px) {
  .contacts__title p::after {
    width: 73px;
  }
}
.contacts__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 480px) {
  .contacts__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.contacts__text a {
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.contacts__text a:hover {
  color: #626262;
}
.contacts__text p {
  margin: 0 0 10px 0;
  font-size: 16px;
}
@media (max-width: 992px) {
  .contacts__text p {
    font-size: 14px;
  }
}
.contacts__text-phone {
  font-size: 20px;
  font-weight: 500;
}
@media (max-width: 992px) {
  .contacts__text-phone {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .contacts__text-phone {
    font-size: 17px;
  }
}
@media (max-width: 480px) {
  .contacts__text-phone {
    font-size: 16px;
  }
}
.contacts__text-email {
  font-size: 20px;
  font-weight: 500;
  margin: 40px 0 0 0;
}
@media (max-width: 992px) {
  .contacts__text-email {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .contacts__text-email {
    font-size: 17px;
    margin: 30px 0 0 0;
  }
}
@media (max-width: 480px) {
  .contacts__text-email {
    font-size: 16px;
    margin: 30px 0;
  }
}
.contacts__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contacts__social svg {
  width: 60px;
  height: 60px;
  fill: black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 992px) {
  .contacts__social svg {
    width: 55px;
    height: 55px;
  }
}
@media (max-width: 767px) {
  .contacts__social svg {
    width: 50px;
    height: 50px;
  }
}
.contacts__social .tg {
  margin: 0 15px 0 0;
}
.contacts__social .tg:hover {
  fill: #0088cc;
  scale: 1.15;
}
.contacts__social .wa {
  margin: 0 15px 0 0;
}
.contacts__social .wa:hover {
  fill: #4ac959;
  scale: 1.15;
}
.contacts__social .gh:hover {
  fill: #fff;
  scale: 1.15;
}

._contacts-anim {
  -webkit-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
._contacts-anim._active, ._active ._contacts-anim {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

/*------------------------------------------------------------------------------------------------------------------*/